[submodule "service.kodi_playlist_resumer"]
	path = service.kodi_playlist_resumer
	url = https://github.com/bower9065/service.kodi_playlist_resumer
[submodule "skin.estuary.modv2"]
	path = skin.estuary.modv2
	url = https://github.com/bower9065/skin.estuary.modv2
[submodule "script.estuary.modv2_theme_selector"]
	path = script.estuary.modv2_theme_selector
	url = https://github.com/bower9065/script.estuary.modv2_theme_selector
